@media only screen and (min-width: 600px){
  .main{
    .contenedor{
      .category{
        margin: 70px 0px;
        gap: 40px;
        .category--item{
          width: 350px;
          height: 200px;
        }
      }
      .banner{
        flex-direction: column;
        h3{
          width: 300px;
          right: 0;
        }
        p{
          width: 400px;
          margin-top: 10px;
        }
      }
    }
  }
  .footer{
    height: 100px;
    flex-direction: row;
    .derechos{
      width: 120px;
    }
    .redes{
      width: 120px;
    }
  }
}

@media only screen and (min-width: 768px){
  .header{
    .container--logo{
      width: 40%;
    }
    .container--navbar{
      width: 60%;
      .burger--menu{
        display: none;
      }
      .nav{
        height: 60px;
        position: relative;
        top: 0px;
        opacity: 1;
        pointer-events: unset;
        .nav__ul{
          height: 100%;
          flex-direction: row;
          padding: 0px;
          background-color: transparent;
          justify-content: space-around;
          gap: 0px;
          .item{
            font-size: 18px;
          }
        }
      }
    }
  }
  .main{
    .contenedor{
      .category{
        gap: 20px;
      }
      .container{
        gap: 30px;
        .container__card{
          .btn{
            margin: 0px auto;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px){
  .main{
    .carousel{
      margin: 60px auto 0px;
      height: calc(100vh - 50px);
      overflow: hidden;
    }
  }
  .footer{
    .derechos{
      width: 200px;
    }
    .redes{
      width: 200px;
    }
  }
}