.footer{
  width: 100%;
  height: 180px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  padding: 10px 0px;
  .derechos{
    width: 250px;
    text-align: center;
    p{
      font-size: 14px;
      margin: 0px;
      font-family: 'Questrial', sans-serif;
    }
  }
  .marca{
    width: 100px;
    img{
      width: 100%;
    }
  }
  .redes{
    .redes__ul{
      display: flex;
      justify-content: center;
      gap: 20px;
      list-style: none;
      padding: 0px;
      margin: 0px;
      font-size: 22px;
      .redes--item{
        a{
          @each $clave, $valor in $redes {
            .#{$clave}{
              color: $valor;
            }
          }
        }
      } 
    }
  }
}